venv/
env/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd


*.keras
*.h5
*.tflite

*.log

.ipynb_checkpoints/


.dart_tool/
.build/
.packages
.pub-cache/
.pub/
build/


ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec


android/.gradle/
android/app/build/


.DS_Store
*.lock



.vscode/
.idea/
*.iml


Thumbs.db